<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= @site.name %><%= content_for?(:title) ? yield(:title) : "" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-grid-framework="f4" data-grid-color="blue" data-grid-opacity="0.5" data-grid-zindex="10" data-grid-gutterwidth="30px" data-grid-nbcols="16">
<!--
Framework codes: b3 (Bootstrap 3 fixed), b3f (Bootstrap 3 fluid), bo (Bootstrap 2 fixed), bf (Bootstrap 2 fluid), f4 (Foundation 4 & 5), f3 (Foundation 3), f2 (Foundation 2).
Note 1: 'Gutter width' parameter only applies to gutterless grid systems (Bootstrap 3, Foundation 4 & 5).
Note 2: 'Nb cols' parameter for Bootstrap only.
-->
	<!-- Top Nav -->
	<div class="contain-to-grid custom-nav-bar">
		<nav class="top-bar" data-topbar> 
			<ul class="title-area large-offset-1 large-6 columns"> 
				<li class=""> <a href="/"><%= image_tag "logo_Small.png", class: "title-logo", alt: @site.name, title: @site.name %> </a></li> 
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
			</ul> 
		
			<section class="top-bar-section"> 
			<!-- Right Nav Section --> 
			<ul class="right menu-items"> 
				<% if @home_children %>
					<% @home_children.each do |nav_item| %>
						<% if nav_item.is_published && nav_item.show_in_menu %>
							<li class="<%= nav_item.name == @page.name ? 'active' : '' %>"><%= link_to nav_item.name, nav_item.slug %></li> 
						<% end %>
					<% end %>
				<% end %>
			</ul> 
			</section> 
		</nav>
	</div>
	<!-- End Top Nav -->
	
	<div class="row">	
		<div class="large-offset-9 large-3 columns call-to-action-logo show-for-large-up">
			<%= image_tag "scroll_logo.png" %>
			<div class="call-to-action-phone">
				<%= @site.phone %>
			</div>
			<div class="call-to-action-text">
				Call to make an appointment.
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns orange-rule"></div>	
	</div>
	<div class="row show-for-medium-up">
		<div class="large-12 columns banners">
			<% if @page && @page.banners %>
			  <% @page.banners.each do |banner| %>
			    <div class="hide">
					<%= image_tag(banner.url_content, alt: banner.alttag, title: banner.alttag) %>
					<div class="content large-offset-1 large-4 columns">
						<div class="banner-intro"><%= banner.intro %></div>
						<div class="banner-description"><%= banner.description %></div>
					</div>
				</div>
			  <% end %>
			<% end %>			
		</div>
	</div>

	<div class="row main-wrapper">
		<div class="large-offset-1 large-7 columns main-content">
			<%= content_for?(:content) ? yield(:content) : yield %>
		</div>
	</div>
	
    <%= javascript_include_tag "application" %>
	<div class="row">
		<div class="large-12 columns orange-rule"></div>	
	</div>
	<div class="row footer-wrapper">
		<div class="large-offset-1 large-3 columns footer-section show-for-large-up">
			<% if @footer_about %>
				<div class="footer-section-title">
					<%= @footer_about.name %>
				</div>
				<div class="footer-section-content">
					<%= raw @footer_about.content %>
				</div>
			<% end %>
		</div>
		<div class="large-offset-1 large-3 columns footer-section">
			<% if @footer_contact_info %>
				<div class="footer-section-title">
					<%= @footer_contact_info.name %>
				</div>
				<div class="footer-section-content">
					
					<div class="footer-contact-section">
						<div class="footer-contact-image">
							<%= image_tag("phone.png", alt: "Telephone", title: "Telephone") %>
						</div> 
						<div cass="footer-contact-text">
							Tel: <%= @site.phone %>
						</div>
					</div>
					
					<div class="footer-contact-section">
						<div class="footer-contact-image">
							<%= image_tag("home.png", alt: "Address", title: "Address") %>
						</div> 
						<div cass="footer-contact-text"><p>
							Suite <%= @site.suite %> <br />
							<%= @site.streetaddress %>, <%= @site.city %>, <%= @site.province %> <br />
							<%= @site.postalcode %></p>
						</div>
					</div>

				</div>
			<% end %>
		</div>
		<div class="large-offset-1 large-2 columns footer-section left show-for-large-up">
			
				<div class="footer-section-title">
					Learn More
				</div>
				<div class="footer-section-content">
					<ul class="footer-menu"> 
						<% if @home_children %>
							<% @home_children.each do |nav_item| %>
								<% if nav_item.is_published && nav_item.show_in_menu %>
									<li class="<%= nav_item.name == @page.name ? 'active' : '' %>"><%= link_to nav_item.name, nav_item.slug %></li> 
								<% end %>
							<% end %>
						<% end %>
					</ul>
				</div>
		</div>
	</div>
  </body>
</html>