<% content_for :content do %>
<div class="row about-us-section-title-container">		
	<div class="about-us-section-title-rule large-12 columns "></div>
	<div class="about-us-section-title"><%= @page.intro %></div>
</div>
<% @page.children.each do |section| %>
	
	<div class="about-us-section <%= cycle('even', 'odd') %>">
		
		<% if section.picture %>
			<div class="row about-us-section-picture show-for-large-up">
		 	  <%= image_tag(section.picture.url_content, class: "small-4 columns", alt: section.picture.alttag, title: section.picture.alttag) %>
			</div>
		<% end %>
		
		<%= raw section.content %>
	</div>

<% end %>

<% end %>

<%= render template: "layouts/application" %>